{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}

{% block body_class %}account settings{% endblock %}

{% block head_title %}New OAuth Client{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <form method="POST" action="{% url "newoauth" %}">
                <legend>Create OAuth Application</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
{% endblock %}
